# Development setup
.cache/
compile_commands.json

# Build artifacts
.Module*
.modules*
.reference_monitor*
.the_reference_monitor*
Module*
modules*
the_reference_monitor*
*.o
*.o.cmd
reference_monitor/user/user
*.o.d
.tmp*
